{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="stylesheet" href="{% static 'custom-css/login_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css ' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <div class="form1 " style="height: 300px;">
        <h2 class="header">Verify Your Account </h2>
        <form action="verify_email" method="POST">
            {% csrf_token %}
            <div class="box">
                <label for="email">Verification Code :</label>

                <input class="inp1" type="number" name="code1" placeholder=" Enter 6-digit code"><br><br>
            
            </div>
            <div >
                <button type="submit" class=" btn btn-primary"> Verify</button>
            </div>
            
        

           

        </form>
    </div>
    
</body>

</html>